<% include partials/header %> 

<!-- content goes in the body -->
	<div id="wrapper"> </div>

	<!-- Custom styles for this template -->
	<link href="/home.css" rel="stylesheet">
	
<!-- contains web page document's main content -->		
    <main>  
	<div class = "container">
	<div class = "jumbotron">
        <h2>About Us</h2>
        <p> Our mission is to help people make better spending decisions </p> 
		<hr class = "a">
		<h5> The AAIMZ Personal Finance Management allow users to : </h5>
		<ul type = "square">
			<li> Save money better </li>
			<li> Achieve goals </li>
			<li> Set monthly budget </li>
			<li> View summary of monthly expenses </li>
			<li> View cash flow </li>
		</ul>
		<br>
		<hr class = "a">
		<h3>The members</h3>
		<div class="container marketing">

        <!-- Three columns of text below the carousel -->
			<div class="row">
				<div class="col-lg-2">
					<img class="rounded-circle" src="Lia.jpg" alt="Generic placeholder image" width="150" height="150">
					<h5>Iylia Nur Syafiqah Faizul</h5>
				</div><!-- /.col-lg-4 -->
				<div class="col-lg-2">
					<img class="rounded-circle" src="MARS.jpg" alt="Generic placeholder image" width="150" height="150">
					<h5>Nur Marsella Ismail</h5>
				</div><!-- /.col-lg-4 -->
				<div class="col-lg-2">
					<img class="rounded-circle" src="SYAZANA.jpg" alt="Generic placeholder image" width="150" height="150">
					<h5>Nurul Syazana Ramli</h5>
				</div><!-- /.col-lg-4 -->
				<div class="col-lg-2">
					<img class="rounded-circle" src="ANIS.jpg" alt="Generic placeholder image" width="150" height="150">
					<h5>Siti Nurfarhanis Mohd Mustakin</h5>
				</div><!-- /.col-lg-4 -->
				<div class="col-lg-2">
					<img class="rounded-circle" src="ZAF.jpg" alt="Generic placeholder image" width="150" height="150">
					<h5>Zafiqa Shareen Zamera Raja</h5>
				</div><!-- /.col-lg-4 -->
			</div><!-- /.row -->


      </div>
	</div>
	</div>
	</main> 
		

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>
  </body>

<% include partials/footer %> 


