<!DOCTYPE html>
<html>
    <head>
        
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="../../../../favicon.ico">
		
        <title>THE AAIMZ</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link  rel="stylesheet" type="text/css" href="/stylesheets/app.css">
		
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
    <nav class="navbar navbar-fixed-top navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
                <a class="navbar-brand" href="/"> <span class="glyphicon glyphicon-credit-card">THE AAIMZ</a>
				<ul class="nav navbar-nav navbar-left">
                    <li class="nav-item"> <a class="nav-link" href=/>Home <span class="sr-only">Home</span></a></li>
					<li class="nav-item"> <a class="nav-link" href=/about>About Us</a> </li>
					<li class="nav-item"> <a class="nav-link" href=/goals>Finance Goals</a> </li>
					<li class="nav-item"> <a class="nav-link" href=/blogs/new>Daily Expenses</a> </li>
					<li class="nav-item"> <a class="nav-link" href=/report>Expenses Report</a> </li>
                </ul>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href=/register>Sign Up</a></li>
					<li><a href=/login>Login</a></li>
                    <li><a href=/logout>Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>