<% include partials/header %> 
  

<!-- content goes in the body -->
	<div id="wrapper"> </div>
	
	<!-- Custom styles for this template -->
	<link href="/home.css" rel="stylesheet">

<!-- contains web page document's main content -->		
<main role="main" class="inner cover">  
	<div class = "container">
	<div class = "jumbotron">
	
        <h2 class="cover-heading">Welcome to our Personal Finance Management website !</h2>
		<hr class = "a">
        <h4>To access our website, first you need to have an account. If you already have an account you can just click Login, if not what are you waiting for? Let's sign up !</h4>
        <br>
          	<img src="https://images.unsplash.com/photo-1521568694655-a3befc99dfde?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=00e1047c7d49ef82a974d777bbbd7f1f&auto=format&fit=crop&w=967&q=80">

        
</main>
	

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>
  </body>

<% include partials/footer %> 


