<% include partials/header %> 

<!-- content goes in the body -->
	<div id="wrapper"> </div>

	<!-- Custom styles for this template -->
	<link href="/page.css" rel="stylesheet">

<!-- contains web page document's main content -->		
    <main> 
		<div class = "container">
		<div class = "jumbotron">
			<div class="py-5 text-center">

				<h2>You have successfully log out!</h2>

				<p>Bye, See you again!</p>

				<img src="https://images.unsplash.com/photo-1499744937866-d7e566a20a61?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=739394b6efd3d4b93474260eb02665d7&auto=format&fit=crop&w=1050&q=80">
			</div>
			
		</div>
		</div>
	</main>


 <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>
  </body>

<% include partials/footer %> 
