<% include partials/header %> 

<!-- content goes in the body -->
	<div id="wrapper"> </div>

	<!-- Custom styles for this template -->
	<link href="/page.css" rel="stylesheet">

	<!-- contains web page document's main content -->		
    <main>
		<div class = "container">
			<div class = "jumbotron">
				<div class="py-5 text-center">
	
					<h2>Congratulations !</h2>

					<p>You have successfully sign up!</p>

					<img src="https://images.unsplash.com/photo-1522827218865-6f92388c094a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5653df8cbc3e28d466cb002fbcfd4ba6&auto=format&fit=crop&w=1054&q=80">
		
				</div>
			</div>
		</div>
	</main>

<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>
  </body>

<% include partials/footer %> 
